
#preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #ffffff; 
    z-index: 9999; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}


.loader-logo {
    margin-bottom: 20px;
}

.loader-logo img {
    max-width: 100px; 
    height: auto;
}

.loader-progress {
    width: 200px; 
    height: 5px;
    background: #eee; 
    border-radius: 5px;
    overflow: hidden; 
    margin: 10px 0;
}


.loader-progress .bar {
    display: block;
    height: 100%;
    width: 0%; 
    background: #e91e63; 
    transition: width 0.5s ease; 
}
/*
* Style for the "Loading..." text.
*/
.loading-text {
    font-size: 16px;
    color: #333;
    font-family: Arial, sans-serif; 
}